[class*='col-']{
	float:left;
}

.top_grid{

	width:50%;
	float:right;
	margin-right: 8%;
}



.nav_col{

	display: inline-block;
	width: 25%;
	float:left;


	/*max-width: 60%;
	width: 15%;
	float:right;
	padding-top: 1.5rem;*/
}


.image_banner{

	border:0;
	padding:0;
	clear:both;
}


.col-1of1 {

	width: 100%;
}


.col-1of2{

	width: 50%;
	
}


.col-2of4{

	width: 50%;
	
}


.col-1of3{
		
	width: 33.3%;

}


.col-1of4{

	width: 25%;
	
}

.one_item {

	display:block;
	clear:both;
}

.grid:after{

	content:"";
	display:block;
	clear:both;

}

#body_content_wrap{

	max-width: 80%;
	margin: 0 auto;
	background:rgba(255,255,255,0.7);
	padding:5% ;
}





*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*when the screen is smaller then 800px*/
@media (max-width: 960px){

/*
	.one_item .col-1of4 .shop_item_quantity{
		
		width: 50%;
		
	}*/

	/*end of only for shopping cart columns*/

	

	/*remove logo*/
	#logo{

		display:none;
	}

	#top{
		line-height: 0rem;

	}

	/*changes the text navigation bar to icon full width navigation bar*/

	.top_grid{

		height:5rem; /* learn on web that adds height to the parent div */
		overflow: auto; /* learn on web that adds height to the parent div */
		width: 100%;
		float:none;
		margin: 0;
		border-bottom: gray solid 0.3rem;	

	}


	/*create an border-bottom to separate the navigation bar from the image below*/
	.nav_col{
		
		background: #91D8D5;
		width: 25%;
		display: inline-block;	
		float:left;
		border-right: white solid;
		font-size: 0;
	}

	.nav_col:last-of-type
	{
		border-right: none;
	}


	#menu{
	height: 5rem;
	}


	/*overwrite font and hover properties from before, also set the height size since it is an icon*/
	.top_grid a:link, .top_grid a:visited, .top_grid a:hover, .top_grid a:focus, .top_grid a:active{ 

		display: inline-block;
		height:5rem;
		width:100%;
		
	}

	/*change each text navigation to icon*/
	nav #home{
		background-image: url('../img/home.png');
		background-size: 5rem;
		background-repeat: no-repeat;
		background-position: center;


	}

	nav #contact_us{
		background-image: url('../img/contactus.png');
		background-size: 5rem;
		background-repeat: no-repeat;
		background-position: center;
	}

	nav #shopping_cart{
		
		background-image: url('../img/shoppingcart.png');
		background-size: 5rem;
		background-repeat: no-repeat;
		background-position: center;
	}

	nav #menu{
		background: #91D8D5;
		background-image: url('../img/menu.png');
		background-size: 5rem;
		background-repeat: no-repeat;
		background-position: center;
	}


	.image_banner{

		height: 20rem;
		width: 100%;
		
	
	}

	.col-1of3 .related_products{
		
		width: 100%;

	}

	.col-1of3{

		width: 50%;

	}

	.col-1of2{
		width: 100%;

	}

	.col-2of4{
		width: 50%;

	}

	.col-1of4{
		width: 50%;

	}

	/*only for shopping cart columns*/
	.one_item .col-1of4{

		width: 25%;

	}

	
	


}/*end of the settings when the screen is smaller than 730px*/



/*when the screen is smaller then 325px*/
@media (max-width: 460px){


	.col-1of3{

		width: 100%;

	}

	.col-1of4{

		width: 100%;

	}


	.one_item .col-1of4{
		width: 50%;
		

	}


	.col-2of4{

		width: 50%;

	}

	.image_banner{
			
		height: 15rem;
		width:100%;		
	}


	#body_content_wrap
	{
		max-width: 100%;
		margin:auto;
	}

	.product_image img{
		border-color: red;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}
}/*end of the settings when the screen is smaller than 320px*/