[class*='col-']{
	float:left;
}

.top_grid{

	width:50%;
	float:right;
	margin-right: 8%;
}



.nav_col{

	display: inline-block;
	width: 25%;
	float:left;
}


.image_banner{
	border:0;
	padding:0;
	clear:both;
}


.col-1of1 {

	width: 100%;

}

/*#about_us
{
	width: 50%;
	margin: 0 auto;
}
*/

.col-1of2, .col-2of4, .b-col-1of2{

	width: 50%;
	
}

.b-col-1of1{

	height: auto;
	overflow: auto;
	width: 33.3%;

}

.col-3of4{

	width: 70%;
	
}

.b-col-1of1 .b-col-1of3{

	width: 100%;

}


.col-1of3, .b-col-1of3{
		
	width: 33.3%;

}

.col-1of4 {
	width:25%;
}

/*.grid {

	padding: 0 0;
}*/

.col-3of10{

	width: 30%;
	float:right;
	
}

.row-1of2{

	width:60%;
	height: auto;
	margin: 0 auto;

}

#home_page img{
	width:100%;
	height:auto;
	padding: 0;
}

.col-7of10 {

	width: 70%;
	padding-right: 5%;

	
}



/*#about_us, #recent_events {

	margin-right: 1rem;
}*/

/*.col-1of5 {

	width: 20%;

}*/

.one_item {

	display:block;
	clear:both;
}

.grid:after{

	content:"";
	display:block;
	clear:both;

}

#body_content_wrap{

	max-width: 70%;
	margin: 0 auto;
	/*background:rgba(232,230,203,0.5);*/
	/*background:rgba(222,212,199,0.4);*/
	background:rgba(255,247,240,0.9);

	padding:5% ;
	border-left:rgba(191,172,151,0.4) solid 0.1rem; 
	border-right:rgba(191,172,151,0.4)solid 0.1rem; 
}


#feedback_content_wrap{

	max-width: 100%;
}

.b-col-1of3, .b-col-1of1{
	height:auto;
	overflow: auto;
	padding:3%;
}


.b-col-1of3:first-of-type{
	padding:0;
}


/* payment */

#amount {
	height: auto;
	overflow: auto;
}

.p-col-1of4 {
	height: auto;
	width: 25%;

}

.company_feedback {
	height: auto;
	overflow: auto;
}


#item {
	height: auto;
	overflow: auto;
}

.p-col-3of4 {
	height: auto;
	width: 75%;

}

.c-col-1of2 {

	width: 50%;
}

.col-2of4 {
	width: 50%;
}


*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 1124px){


}


/*when the screen is smaller then 970px*/
@media (max-width: 970px){

	/*remove logo*/
	#logo, #acct{

		display:none;
	}

	#top{
		line-height: 0rem;

	}


	.button:link, .button:visited { 
		
		background-color: transparent;
		border-radius: 0;
		border:none;

	}

	/*keep color the same*/
	.nav_col:hover,.nav_col:focus,.nav_col:active {

  		background-color: rgba(229,198,198,0.5);
		border-radius: 0;
	
	}	

	/*changes the text navigation bar to icon full width navigation bar*/

	.top_grid{

		height:5rem; /* learn on web that adds height to the parent div */
		overflow: auto; /* learn on web that adds height to the parent div */
		width: 100%;
		float:none;
		margin: 0;
		border-bottom: rgba(229,198,198,0.5) double 0.2rem;	

	}


	/*create an border-bottom to separate the navigation bar from the image below*/
	.nav_col{
		
		background-color: rgba(229,198,198,0.5);
		width: 25%;
		display: inline-block;	
		float:left;
		border-right: white double 0.2rem;
		font-size: 0;
	}


	.nav_col:last-of-type
	{
		border-right: none;
	}


	#menu{

		height: 5rem;
	}


	/*overwrite font and hover properties from before, also set the height size since it is an icon*/
	.top_grid a:link, .top_grid a:visited, .top_grid a:hover, .top_grid a:focus, .top_grid a:active{ 

		display: inline-block;
		height:5rem;
		width:100%;
		
	}

	/*change each text navigation to icon*/
	nav #home{
		background-image: url('../img/home.png');
		background-size: 5rem;
		background-repeat: no-repeat;
		background-position: center;


	}

	nav #contact_us{
		background-image: url('../img/contactus.png');
		background-size: 5rem;
		background-repeat: no-repeat;
		background-position: center;
	}

	nav #shopping_cart{
		
		background-image: url('../img/shoppingcart.png');
		background-size: 5rem;
		background-repeat: no-repeat;
		background-position: center;
	}

	nav #menu{

		background-image: url('../img/menu.png');
		background-size: 5rem;
		background-repeat: no-repeat;
		background-position: center;
	}


	#floral_banner, #home_banner, #contact_banner,  #detail_banner, #shopping_banner{

		height: 20rem;
		width: 100%;
		background-position: 60% 5%;
		background-size: 1000px;
	
	}

	 #menu_banner, #payment_banner{

	 	height: 20rem;
		width: 100%;
		background-position: 60% 50%;
		background-size: 1000px;

	 }

	/*grids*/

	.b-col-1of1{

		height: auto;
		overflow: auto;
		width: 100%;
		display: block;
		clear:both;

	}


	.col-1of2{
		
		width: 100%;

	}

	.col-2of4, .col-1of4, .col-1of3, .b-col-1of3, .col-3of4{
		
		width: 50%;

	}

	.b-col-1of2{
		
		width: 25%;

	}

	.twos{

		height: auto;
		overflow: auto;
		width: 100%;

	}


	/*only for shopping cart columns*/
	.one_item .col-1of4, #total_price .col-1of4 , #make_payment .col-1of4{

		width: 25%;

	}


	#company_info img{
		margin: 1rem 0;
		max-width: 100%;
		width:100%;
	}

	.b-col-1of3, .b-col-1of1{ 

		margin: 0; 
		border-right: none;
	}


	.b-col-1of3:first-of-type{ 

		margin: 0; 
		border-bottom: 0.2rem double rgba(191,172,151,0.4); 
		border-top: 0.2rem double rgba(191,172,151,0.4); 
  		padding-bottom:1rem;
	
	}

	/*heading*/

	.title{
		margin: 1.5rem 0;
	}



	/*shopping cart*/
	#cart_wrapper{

		width: 100%;
		margin:0 auto;
	}

	#home_wrapper{

		width:100%;
		margin:0 auto;
	}

	.make_payment .col-1of4{

		width:50%;

	}

	/*home*/
	.col-3of10 , .col-7of10:last-of-type
	{
		width:50%;
	}

	.col-7of10
	{
		width:100%;
		padding-right: 0;
	}

	.row-1of2{

		width:50%;
		height: auto;
		margin: 0 auto;
		float:left;

	}

	input[type=submit]{
		width:100%;
	}



}/*end of the settings when the screen is smaller than 730px*/





/*when the screen is smaller then 325px*/
@media (max-width: 488px){



	.category{

		border-bottom: 0.2rem double rgba(191,172,151,0.4); 
  		padding-bottom:2rem;
	}

	.category_wrap .col-1of4{
		padding:0;
	}

	/*grids*/

	.col-1of3, .b-col-1of3, .col-1of4, .col-3of4, #home_wrapper .col-1of2{

		width: 100%;

	}

	.col-3of10, .col-7of10, .col-7of10:last-of-type
	{
		width:100%;
	}

	.col-2of4, .b-col-1of2{

		width: 50%;

	}

	#floral_banner, #home_banner, #contact_banner,  #detail_banner, #shopping_banner{

		height: 15rem;
		width:100%;
		background-size: 700px;	
		background-position: 70% 25%;
	
	}

	 #menu_banner, #payment_banner{

	 	height: 15rem;
		width:100%;
		background-size: 700px;	
		background-position: 70% 35%;

	 }

	#body_content_wrap
	{
		max-width: 100%;
		margin:auto;
		padding:5%;
	}

	.product_image img{
		border-color: red;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}

	.sidebyside .title{
		width:100%;
	}


	/*only for shopping cart columns*/
	.one_item .col-1of4, #total_price .col-1of4, #make_payment .col-1of4{

		width: 50%;

	}


	.b-col-1of3, .b-col-1of1{ 

		margin: 0; 
		border-bottom: 0.2rem double rgba(191,172,151,0.4); 
  		padding-bottom:1rem;
	}

	.b-col-1of3:first-of-type{ 

		border-bottom: none; 
  		padding-bottom:0 ;
	
	}

	/*shopping cart*/

	input[type=checkbox]{

		float:right;
	}


	.make_payment .col-1of4{

		width:70%;

	}

	/*form*/

	.company_feedback input[type=text], .company_feedback form textarea, .product_feedback input[type=text],.product_feedback form textarea{
	 	width: 100%;
	 }


	 input[type=submit]{
	 	width:100%;
	 }

	#footer{

		max-width: 100%;
		
	}



}/*end of the settings when the screen is smaller than 320px*/