/* IAT 381 P02 website's stylesheet*/

body {

	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
	background-image: url('../img/bg.png');
	background-size: 100%; 
	margin: 0;

}

h1 {
	
	font-size: 5rem;
}

h2 {

	font-size: 200%; 
	color:#BFA1A3; 
	margin:0;
}
 
h3{
	color:#BFAC97; 
	font-weight: bold;
}
p {

	font-size: 1rem;
}

li{

	list-style: none;

}

ul{
	padding: 0;
}

/* ------------- HEADER ---------------- */

#logo{

	height:20rem;
	width:40%;
	position: absolute;
	text-align: center;

}

#logo img{

	height:auto;
	width:60%;
	

}


#watermark{
	display: none;
	float:right;
	margin-top: 8rem;
}

#acct a{
	width:33.3%;
	color:#DEB9BA;
	display: inline-block;
	float:left;
	text-align: center;
	text-decoration: none;

}

#acct a:hover{
	color:#BFA1A3;
	

}
#acct ul{
	width:35%;
	margin: 0;
	float:right;
	display: block;
	clear: both;
	padding-top:1.2rem;
	padding-right: 0.5rem;

}

#acct {
	height: auto;
	overflow: auto;
}

.top_grid {

	font-size: 1.1rem;
	line-height: 3rem;
	margin-top:2.3rem;
	text-align: center;

}

.button:link, .button:visited { 

	font-weight: bold; 
	text-decoration: none; 
	color:#FFFFFF;
	background-color: rgba(191,172,151,0.6);
	border-radius: 0.3rem;
	border:white double 0.3rem;

}

.nav_col:hover,.nav_col:focus,.nav_col:active {

  	background-color: rgba(191,172,151,1);
	border-radius: 0.3rem;
	color:#FFFFFF;
	
}

.button:hover, .button:focus, .button:active { 

	color:#FFFFFF;
	font-weight: bolder; 
}

#menu{

	height: 3.5rem;
}

#menu li{
	list-style: none;
}

#menu ul{
	margin:0;
	padding:0;
}

nav ul ul{
	display: none;
}

nav ul li:hover > ul {
	display: block;
}


.categories_item li{

	list-style: none;
	line-height: 2rem;
	font-size: 90%;

}

.categories_item li a, .button{

	display: block;
	width:100%;
	
}

.categories_item{

	padding:0;
	margin:0;
	background-color: rgba(191,172,151,0.9);
	border:white double 0.3rem;
	border-radius: 0.2rem;
	
}

.categories_item a:link, .categories_item a:visited { 
	
	text-decoration: none; 
	color: white; 

}

.categories_item a:hover, .categories_item a:focus, .categories_item a:active {

	font-weight: bold; 
	background-color: rgba(191,161,161,0.5);

}

#home_banner{

	height:28rem;
	width:100%;
	background-image: url('../img/home_banner.jpg');
	background-repeat: no-repeat;
	background-position: 20% 11%;
	background-size: 1920px;

}

#floral_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/floral_banner.jpg');
	background-repeat: no-repeat;
	background-position: 80% 12%;
	background-size: 1920px;
}

#detail_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/detail.jpg');
	background-repeat: no-repeat;
	background-position: 55% 40%;
	background-size: 1920px;
}


#shopping_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/menu_banner.jpg');
	background-repeat: no-repeat;
	background-position: 20% 55%;
	background-size: 1920px;
}

#menu_banner{
	height:28rem;
	width:100%;
	background-image: url('../img/banner1.jpg');
	background-repeat: no-repeat;
	background-position: 20% 50%;
	background-size: 1920px;

}
#contact_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/contact_banner.jpg');
	background-repeat: no-repeat;
	background-position: 40% 25%;
	background-size: 1920px;
}


#payment_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/purchase_banner.jpg');
	background-repeat: no-repeat;
	background-position: 100% 70%;
	background-size: 1920px;
}
/*------------- END OF HEADER ------------- */



/* ------------- BODY CONTENT WRAP ------------- */

/* home */

.sidebyside .title{

	width:100%;
}


.link{

	font-weight: bold; 
	text-decoration: none; 
	color: #BFAC97;

}

.link:hover{

	color: #BFAC97;
	color:rgba(191,172,151,0.8);


}

.sidebyside img{
	float:left;
}

#emp{
	color:red;
}

/*contact us*/

.company_feedback h2, #company_info h2{
	padding-bottom: 0.5rem;
}

#company_info h3{
	margin:0;
}

#company_info img{

	margin: 2.7rem 0;
	height:auto;
	max-width: 100%;
	
}

.col-1of2 .company_feedback, .col-1of2 #company_info{
	width:90%;
	margin:0 auto;
}


/*forms*/

.company_feedback label {

	display: block;
	clear: both;
	margin: 0.5rem 0;
}

.company_feedback label:first-of-type{

	margin-top:0;
}


.company_feedback input[type=text] {
	width:100%;
	height:2rem;
	border-radius: 0.3rem;
	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
}


input[type=submit]{

	background-color: rgba(191,172,151,0.8);
	width: 100%;
	height:3rem;
	border-radius: 0.3rem;
	margin-top: 0.7rem;
	font-family: 'Gafata', sans-serif;
	font-size: 0.9rem;
	-webkit-transition: all 0.5s;
	
}

input[type=submit]:hover{
	background-color: rgba(171,152,131,1);
}

.company_feedback form textarea {
	display: block;
	width: 100%;
	height: 10rem;
	clear: right;
	border-radius: 0.3rem;
	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
}




/* shopping cart */

.one_item{
	margin: 1rem 0;
	height:auto;
	overflow: auto;
}

.col-1of4 img{
	width: 100%;
	height:auto;
	padding-right: 2rem;	

}

.type {
	width: 100%;
}


/*shopping cart total bill form*/
.total_price .col-3of4, .make_payment .col-3of4{

	width:75%;
	
}

.total_price .col-1of4, .make_payment .col-1of4{

	width:25%;
}



.shop_item_quantity{

	float:right;
}

.make_payment .bill{

	width: 100%;
	font-size: 150%;
}



.make_payment{
	overflow: auto;
	height: auto;
	border-top: rgba(191,172,151,0.5) double 0.2rem;
}


.make_payment:last-of-type{
	border-top: transparent;
}



td:nth-of-type(2){
	float: right;
}


tr td{

	padding-top: 1rem;
	color:rgb(191,172,151);

}

tr:nth-of-type(2) td{

	padding-top: 0;

}

tr:last-of-type td{

	color:black;
	font-weight: bolder;
	padding-top: 1rem;

}


.make_payment input[type=submit]{

	background-color: #BFAC97;
	width: 100%;
	height:3rem;
	border-radius: 0.3rem;
	font-family: 'Gafata', sans-serif;
	font-size: 0.9rem;
	-webkit-transition: all 0.5s;

}

.make_payment input[type=submit]:hover{
	background-color: rgba(171,152,131,1);
}

.make_payment .bill input {
	width: 100%;
	text-align: right;
}

/*end of shopping cart bill form*/

#cart_wrapper{

	width: 80%;
	margin:0 auto;
}
/*product menu*/


.fours{

	height: auto;
	overflow: auto;
	width: 100%;

}


.title{

	display:block;
	width:100%;
	clear:both;
	padding-bottom: 0.5rem;
	margin-bottom: 1.5rem;
	border-bottom: rgba(191,172,151,0.5) double 0.2rem;
}

.fours:last-of-type{

	border-bottom: rgba(191,172,151,0.5) double 0.2rem;

}

.category{
	display: block;
	padding: 5%;
	float: left;
	clear:both;
	text-align: center;
	height: auto;
	overflow: auto;

}

.category a:link, .category a:visited{ 

	font-weight: bold; 
	font-size: 1.2rem;
	text-decoration: none; 
	color: #BFAC97; 

}


.row-1of2{

	text-align: center;
	padding-bottom: 1rem;
}

.row-1of2 a:link, .row-1of2 a:visited { 

	font-weight: bold; 
	font-size: 90%;
	text-decoration: none; 
	color: #BFAC97; 

}

.category img{

	display:block;
	width: 90%;
	height:auto;
	margin: auto;
	padding:0 0 1rem 0;	
}

.category:hover, .category:focus, .category:active, .b-col-1of2:hover {

	background-color: rgba(191,172,151,0.1);
	border-radius: 1rem;
	border: white double 0.3rem;
	
}

.category_wrap .col-1of4{
	padding: 0 0 3rem 0;
}

.category p{
	font-size:1rem;
	color:gray;
	font-weight: bolder;
}

/*product details*/



.product_image {
	text-align: center;
	margin-bottom: 1.5rem ;
}


.product_info {
	margin:2rem 0rem;
}


.suggestion img{

	margin: 1rem;
	height:auto;
	overflow: auto;
	max-width: 65%;
	
}


/*shopping cart*/
input[type='checkbox'] {

	float: left;
	margin-right: 1rem;
}


.shop_item_quantity p:first-of-type{
	color: #BFAC97;
}


.shop_amount {

	float: left;
	margin-right: 0.5rem;
	width: 3rem;
}

/*forms*/


.product_feedback form label {
	display: block;
	margin: 0.5rem 0;
	text-align: left;
}


.product_feedback input[type=text]{
	width:100%;
	height:2rem;
	border-radius: 0.3rem;
	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
}


.product_feedback form textarea {
	display: block;
	width: 100%;
	height: 9rem;
	clear: right;
	border-radius: 0.3rem;
	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
	margin:auto;
}


/*grids*/
.b-col-1of2, .b-col-1of3{

	text-align: center;
}



.b-col-1of1{

	height:100%;

}

.b-col-1of3:nth-of-type(2) {

	margin: 3rem 0; 
	border-right: 0.2rem double rgba(191,172,151,0.4); 
	border-left: 0.2rem double rgba(191,172,151,0.4); 

}


.b-col-1of3:first-of-type{ 

	margin: 0; 
	
}

.b-col-1of3:last-of-type{

	border-right: none; 
}

.p-col-3of4 h6, .p-col-1of4 h6{

	margin-top: 0;

}

.p-col-1of4 p{
	margin-top: 0;
	margin-bottom: 0;
}

.p-col-3of4 p{
	margin-top: 0;
	margin-bottom: 0;
}

#item {
	width: 85%;
	border-bottom: solid 1px black;
	padding-bottom: 1rem;
}

.c-col-1of4 {
	width: 25%;
	
}

.c-col-1of4 input {
	float:left;
	
}

.c-col-1of4 img {

	width: 60%;
	float:left;
}


.row-1of2 p{

	margin: 0;
	display: inline-block;
	float:left;
	font-size: 1.3rem;
	color:gray;
	margin-top:0.5rem;
}


.row-1of2:first-of-type p{

	color:#DF696C;
	font-weight: bolder;
	font-size: 1.7rem;
}

.row-1of2:nth-of-type(2) p{

	font-size: 1.5rem;
	
}


.name-col1of2 {
	float:left;
	width: 50%;
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;
}



.name-col1of2:first-of-type {
	padding-right: 2%;
}

.name-col1of2:nth-of-type(2){
	padding-left: 2%;
}


.select {

	width: 49%;
	float:left;
}

.select:first-of-type{

	margin-right: 1%;

}

.select:last-of-type{

	margin-left: 1%;

}

.select {
	height: 31px;
	border-radius: 0.2rem;
}

.card .card_label{
	padding-top: 0.5rem;
}

.type {
	padding-top: 0.3rem;
}


.events li {
	
	margin-bottom: 1rem;

	
}

/*-------------  END OF BODY CONTENT WRAP ------------- */

/*-------------  FOOTER -------------  */


#footer{

	overflow:hidden;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	line-height: 0.8rem;

	background-color: rgba(191,172,151,0.5);

}

#footer p{
	font-size: 0.8rem;
}

/*-------------  END OF FOOTER ------------- */
