/* IAT 381 P02 website's stylesheet*/

/*Color Palette : #91D8D5 , #BFAC97, #FFFFFF, #CCCCCC, #3D3D3D */

body {

	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
	background-image: url('../img/bg.png');
	background-size: 100%; 
	margin: 0;

}

h1 {
	
	font-size: 5rem;
}

h2 {

	font-size: 2rem; 
	color:#BFAC97; 
	margin:0;
}
 
h3{
	color:#BFAC97; 
	font-weight: bold;
}
p {

	font-size: 1rem;
}

li{

	list-style: none;

}

ul{
	padding: 0;
}

/* ------------- HEADER ---------------- */

#logo{

	height:20rem;
	width:40%;
	position: absolute;
	text-align: center;

}

#logo img{

	height:auto;
	width:60%;
	padding-top:2rem;

}

.top_grid {

	font-size: 1.1rem;
	line-height: 3rem;
	margin-top:6rem;
	text-align: center;

}



.button:link, .button:visited { 

	font-weight: bold; 
	text-decoration: none; 
	color: #91D8D5;
	background-color: rgba(144,216,213,0.2);
	border-radius: 0.3rem;
	border:white double 0.3rem;

}

.nav_col:hover,.nav_col:focus,.nav_col:active {

  	background-color: rgba(191,172,151,0.3);
	border-radius: 0.3rem;
	color:#FFFFFF;
	
}

.button:hover, .button:focus, .button:active { 

	color:#FFFFFF;
	font-weight: bolder; 
}

#menu{

	height: 3.5rem;
}

#menu li{
	list-style: none;
}

#menu ul{
	margin:0;
	padding:0;
}

nav ul ul{
	display: none;
}

nav ul li:hover > ul {
	display: block;
}


.categories_item li{

	list-style: none;
	line-height: 2rem;
	font-size: 90%;

}

.categories_item li a, .button{

	display: block;
	width:100%;
	
}

.categories_item{
	padding:0;
	margin:0;
	background-color: rgba(209,237,233,0.9);
	border-radius: 0.2rem;
	
}

.categories_item a:link, .categories_item a:visited { 
	
	text-decoration: none; 
	color: #BFAC97; 

}

.categories_item a:hover, .categories_item a:focus, .categories_item a:active {

	font-weight: bold; 
	background-color:rgba(255,255,255,0.8);

}

#home_banner{

	height:28rem;
	width:100%;
	background-image: url('../img/home_banner.jpg');
	background-repeat: no-repeat;
	background-position: 20% 11%;
	background-size: 1920px;

}

#floral_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/floral_banner.jpg');
	background-repeat: no-repeat;
	background-position: 80% 12%;
	background-size: 1920px;
}

#detail_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/detail.jpg');
	background-repeat: no-repeat;
	background-position: 55% 40%;
	background-size: 1920px;
}


#shopping_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/menu_banner.jpg');
	background-repeat: no-repeat;
	background-position: 20% 55%;
	background-size: 1920px;
}

#menu_banner{
	height:28rem;
	width:100%;
	background-image: url('../img/banner1.jpg');
	background-repeat: no-repeat;
	background-position: 20% 50%;
	background-size: 1920px;

}
#contact_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/contact_banner.jpg');
	background-repeat: no-repeat;
	background-position: 40% 25%;
	background-size: 1920px;
}


#payment_banner
{
	height:28rem;
	width:100%;
	background-image: url('../img/purchase_banner.jpg');
	background-repeat: no-repeat;
	background-position: 100% 70%;
	background-size: 1920px;
}
/*------------- END OF HEADER ------------- */



/* ------------- BODY CONTENT WRAP ------------- */

/* home */
#about_us p{

	font-size: 1.5rem;
}

.sidebyside .title{

	width:90%;
}


#home_wrapper .col-1of2{

	width:50%;
	height: auto;
	margin:0 auto;
}

#home_wrapper{

	width:70%;
	margin:0 auto;
}

.sidebyside img{
	float:left;
}


/*contact us*/

.company_feedback h2, #company_info h2{
	padding-bottom: 2rem;
}

#company_info h3{
	margin:0;
}

#company_info img{

	margin: 2.7rem 0;
	height:auto;
	max-width: 90%;
	
}



/*forms*/

.company_feedback label {

	display: block;
	clear: both;

	margin: 0.5rem 0;
}

.company_feedback label:first-of-type{

	margin-top:0;
}


.company_feedback input[type=text] {
	width:20rem;
	height:2rem;
	border-radius: 0.3rem;
	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
}


#card_form .col-1of4, #card_form .col-3of4{
	margin-top: 1rem;
}

input[type=submit]{

	background-color: rgba(191,172,151,0.8);
	width: 10rem;
	height:3rem;
	border-radius: 0.3rem;
	margin-top: 0.7rem;
	font-family: 'Gafata', sans-serif;
	font-size: 0.9rem;
	
}

.company_feedback form textarea {
	display: block;
	width: 20rem;
	height: 8rem;
	clear: right;
	border-radius: 0.3rem;
	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
}


/* shopping cart */

.one_item{
	margin: 1rem 0;
	height:auto;
	overflow: auto;
}

.col-1of4 img{
	width: 100%;
	height:auto;
	padding-right: 2rem;	

}

.total_price .col-1of4, .make_payment .col-1of4{

	float:right;
	clear:both;
}

.make_payment input[type=submit]{

	background-color: #BFAC97;
	width: 100%;
	height:3rem;
	border-radius: 0.3rem;
	margin-top: 0.7rem;
	font-family: 'Gafata', sans-serif;
	font-size: 0.9rem;

}

#cart_wrapper{

	width: 80%;
	margin:0 auto;
}
/*product menu*/


.fours{

	height: auto;
	overflow: auto;
	width: 100%;

}


.title{

	display:block;
	width:100%;
	clear:both;
	padding-bottom: 1rem;
	margin-bottom: 3rem;
	border-bottom: rgba(191,172,151,0.5) double 0.2rem;
}

.fours:last-of-type{

	border-bottom: rgba(191,172,151,0.5) double 0.2rem;

}

.category{
	display: block;
	padding: 5%;
	float: left;
	clear:both;
	text-align: center;
	height: auto;
	overflow: auto;

}

.category a:link, .category a:visited { 

	font-weight: bold; 
	font-size: 1.5rem;
	text-decoration: none; 
	color: #BFAC97; 

}

.category img{

	display:block;
	width: 90%;
	height:auto;
	margin: auto;
	padding:0 0 1rem 0;	
}

.category:hover, .category:focus, .category:active {

	background-color: rgba(191,172,151,0.1);
	border-radius: 1rem;
	border: white double 0.3rem;
	
}

.category_wrap .col-1of4{
	padding: 0 0 3rem 0;
}


/*product details*/



.product_image {
	text-align: center;
	margin-bottom: 1.5rem ;
}


.product_info {
	margin:2rem 0rem;
}


.suggestion img{

	margin: 1rem;
	height:auto;
	overflow: auto;
	max-width: 65%;
	
}

.b-col-1of2, .b-col-1of3{

	text-align: center;
}

.b-col-1of3:nth-of-type(2)
{
	height:100%;
}

.product_feedback form label {
	display: block;
	margin: 0.5rem 0;
	text-align: left;
}

.product_feedback form label:first-of-type{
	
	margin-top:0;
}

.product_feedback input[type=text]{
	width:18rem;
	height:2rem;
	border-radius: 0.3rem;
	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
}


.product_feedback form textarea {
	display: block;
	width: 18rem;
	height: 9rem;
	clear: right;
	border-radius: 0.3rem;
	font-family: 'Gafata', sans-serif;
	font-size: 1rem;
	margin:auto;
}


.b-col-1of1{

	height:100%;

}
.b-col-1of3, .b-col-1of1{ 

	margin: 3rem 0; 
	border-right: 0.2rem double rgba(191,172,151,0.4); 
}


.b-col-1of3:first-of-type{ 

	margin: 0; 
	
}

.b-col-1of3:last-of-type{

	border-right: none; 
}

/*-------------  END OF BODY CONTENT WRAP ------------- */

/*-------------  FOOTER -------------  */


#footer{

	overflow:hidden;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	line-height: 0.8rem;
	background-color: rgba(191,172,151,0.5);

}

#footer p{
	font-size: 0.8rem;
}


	


/*-------------  END OF FOOTER ------------- */
